---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import HeaderLanding from  '/MyProjects/statics pages/velo vailla/src/components/headerLanding.astro'
import HeroSection from '/MyProjects/statics pages/velo vailla/src/components/heroSection.astro'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main
	>
	
		<HeroSection/>

		
		
		<section class=" px-30 h-screen [&>article>h4]:font-bold [&>article>h4]:text-2xl
		 [&>article>h4]:text-[#B0B3B8] [&>article>p]:text-[#B0B3B8] 
		 items-center  w-screen bg-[#121212] absolute overflow-hidden"
		>	
		
		
			<header class="my-10  w-full items-start">
					<h2 class="flex flex-grow text-[#B0B3B8] text-2xl font-medium ">Motivos para unirtenos
					</h2>
			</header>
		
					
				<div class=" justify-between flex   [&>div]:w-[700px] flex-wrap w-full"
				>
					<div class="pb-8 ">
						<article class="  px-6 py-10 pt-5 items-start overflow-hidden bg-repeat-round bg-white rounded ">
						<h4>¿Eres creador? ¡Esta plataforma es para ti!</h4>
						<p>Publica sin costo, Gana visibilidad real,
							Crea tu portafolio público</p>
						<h2 class="text-end text-[#B0B3B8] font-bold text-4xl">velo</h2>

						</article>

					</div>
					
					<div class="pb-2 ">
						<article class="px-6 py-10 pt-5 items-start overflow-hidden bg-repeat-round bg-white rounded ">
						<h4>¿Eres creador? ¡Esta plataforma es para ti!</h4>
						<p>Publica sin costo, Gana visibilidad real,
							Crea tu portafolio público</p>
						<h2 class="text-end text-[#B0B3B8] font-bold text-4xl">velo</h2>

						</article>

					</div>

						<div class="pb-2 ">
						<article class="px-6 py-10 pt-5 items-start overflow-hidden bg-repeat-round bg-white rounded ">
						<h4>¿Eres creador? ¡Esta plataforma es para ti!</h4>
						<p>Publica sin costo, Gana visibilidad real,
							Crea tu portafolio público</p>
						<h2 class="text-end text-[#B0B3B8] font-bold text-4xl">velo</h2>

						</article>

					</div>
				</div>

				
				

				
				
			
		</section>
		

		
	</main>

	
</Layout>
