<section class="h-screen text-center w-screen bg-black relative overflow-hidden"
		>

						<header class="flex justify-between px-30 py-6 items-center  absolute   w-full z-100
		">
			<div class="flex flex-grow basis-0">
				<h1 class="text-[#B0B3B8] font-bold text-4xl">velo</h1>
			</div>

			<nav>
				<ul class="
				flex [&>li>a]:text-sm [&>li>a]:px-11 [&>li>a]:text-white
				">
					<li>
						<a href="#">Inicio</a>
					</li>
					<li>
						<a href="#">Motivos</a>
					</li>

					<li>
						<a href="#">Preguntas</a>
					</li>

					<li>
					 <a href="#">About me</a>
					</li>
				</ul>
			</nav>

			<div class="flex flex-grow basis-0 justify-end">
				<a class="text-center  px-4 py-1 hover:text-black transition-colors border-white hover:bg-white text-teal-50  rounded backdrop-blur-4xl bg-white/5">
					Iniciar seccion</a>
			</div>
		</header>


			<div  class="z-30 relative h-full flex flex-col">
					<header>
					<h2 class=" leading-tight text-white pt-35 text-[40px] font-bold font-sans">
					Desata la creatividad <br>
					independiente
				</h2>
				<p class="font-sans leading-tight text-white font-light text-[15px] ">
					Explora peliculas, cortometrajes y series independientes de <br>
					cineastas de bajos recursos y aficionados al cine.
				</p>
				</header>
				
				<footer class="z-30  relative flex flex-col flex-grow  justify-end">
					<div>
						<a href="" class=
					"text-white text-[12px] font-sans'
                     font-light z-30 mb-50 border-1 rounded px-7 py-1.5 backdrop-blur-4xl bg-white/5
                      border-white hover:bg-white hover:text-black transition-colors inline-block"
					>Muestranos tu obra maestra</a>
					</div>
				</footer>
				</div>
				<div class="absolute top-0 bottom-0 z-10 h-full w-full">
					<video class="object-center object-cover h-full w-full "
					 autoplay muted loop src="/camerabk.mp4" 
					 >
					</video>
				
			</div>
		</section>